{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": ["airbnb", "prettier", "plugin:react-hooks/recommended"],
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": ["react-hooks"],
  "rules": {
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": ["warn"],
    "no-return-assign": ["off"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/forbid-prop-types": [
      0,
      {
        "checkChildContextTypes": false,
        "checkContextTypes": false,
        "forbid": []
      }
    ],
    "import/prefer-default-export": 1,
    "no-nested-ternary": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": 1,
    "prefer-destructuring": 1,
    "no-var": 1,
    "no-debugger": 1,
    "max-len": 1,
    "import/no-extraneous-dependencies": ["off"]
  }
}
